@import url('https://fonts.cdnfonts.com/css/pf-tempesta-five');
/* https://www.cdnfonts.com/pf-tempesta-five.font ---- font link*/

*, *::before, *::after {
    box-sizing: border-box;
    user-select: none;
}

:root {
    --dark: #535353;
    --light: #FFFFFF;
}

html, body {
    margin: 0; 
    height: 100%; 
    overflow: hidden;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: 'PF Tempesta Five', sans-serif;
    color: var(--dark);
    overflow: hidden;
}

.world {
    overflow: hidden;
    position: relative;
    width: 1100px;
    height: 500px;
    background: linear-gradient(rgb(118, 255, 221), rgb(0, 174, 255))
}

#highscore, #score, #bonus {
    position: absolute;
    font-size: 20px;
}

#highscore {
    right: 15px;
    top: 15px;
}

#score {
    right: 15px;
    top: 45px;
}

#bonus {
    right: 15px;
    top: 80px;
}

.hide {
    display: none;
}

.ground {
    --left: 0;
    position: absolute;
    width: 300%;
    bottom: 0;
    left: calc(var(--left) * 1%);
}

.dino {
    --bottom: 0;
    position: absolute;
    left: 1%;
    height: 17%;
    bottom: calc(var(--bottom) * 1%);
}

.bigger {
    height: 21%;
}

.cactus {
    position: absolute;
    left: calc(var(--left) * 1%);
    height: 18%;
    bottom: 0;
}

.coin {
    position: absolute;
    top: 18%;
    left: calc(var(--left) * 1%);
    height: 8%;
    bottom: 0;
}

/* -----> START SCREEN <----- */

#start-screen {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.blink {
    animation: blink 1s step-start 0s infinite;
}

@keyframes blink {
    50% {
        opacity: 0.0;
    }
}

#start-screen-btns {
    display: flex;
    justify-content: space-evenly;
}

.game-btn {
    border: none;
    background-image: url(imgs/button-stationary.png);
    height: 48px;
    width: 120px;
    background-color: rgba(255, 255, 255, 0);
    color: var(--dark);
    font-family: 'PF Tempesta Five', sans-serif; 
    font-weight: bold;
    font-size: 12px;
    padding-bottom: 14px;
}

.game-btn:hover {
    background-image: url(imgs/button-hover.png);
    color: var(--light);
}

.game-btn:focus {
    background-image: url(imgs/button-active.png);
    color: var(--light);
    padding-bottom: 0;
}

/* -----> SCOREBOARD <----- */

#scoreboard {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 20px;
    z-index: 1;
    background-color: var(--light);
}

#scoreboard-text {
    margin-top: -10px;
}

table, th, td {
    border: 4px solid;
}

td {
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    font-size: 20px;
    margin-top: 10px;
}

#nickname-btn {
    margin-top: 15px;
}

#nickname {
    margin-top: -10px;
    height: 40px;
    width: 200px;
    border: solid 3px var(--dark);
    font-size: 20px;
    font-family: 'PF Tempesta Five', sans-serif;
    text-align: center;
}

#back-start-screen-btn {
    position: absolute;
    top: 60%;
    line-height: 1;
}

.hidden {
    visibility: hidden;
}

/* -----> RESIZING <----- */

@media only screen and (max-width: 1100px) {
    .world {
        width: 840px;
    }
}

@media only screen and (max-width: 850px) {
    .world {
        scale: 0.8;
        width: 870px;
    }
}

@media only screen and (max-width: 700px) {
    .world {
        width: 670px;
        height: 360px;
    }

    .cactus {
        height: 16%;
    }

    .coin {
        top: 21%;
    }

    #start-screen-text {
        font-size: 19px;
    }
}

@media only screen and (max-width: 415px) {
    .world {
        width: 440px;
    }

    #start-screen-text {
        font-size: 13.9px;
    }
}

@media only screen and (max-height: 450px) {
    
    #scoreboard {
        scale: 0.75;
        width: 133.9%;
        height: 133.9%;
    }
    
    #back-start-screen-btn {
        top: 80%;
    }
}

@media only screen and (max-width: 350px) {
    .world {
        width: 390px;
    }
}